<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link  rel="stylesheet"  href="../static/css/bootstrap.min.css" th:href ="@{/css/bootstrap.min.css}" type="text/css"/>
        <link  th:href="@{/css/index.css}" href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
       <div th:fragment= "sidebar" class="sidebar" >
            <p th:text="'Hello, ' + ${session.accounts.firstName}" th:unless="${session == null}">Username here</p>
                <p th:text="'$'+${session.accounts.payMeBalance}" th:unless="${session == null}">Balance here</p>
                <ul><a th:href="@{/dashboard}">Home</a></ul>
                <ul><a th:href="@{/request}">Send Request</a></ul>
                <ul><a th:href="@{/request}">View Request</a></ul>
                <ul><a th:href="@{/transfer}">Transfer</a></ul>
                <ul><a th:href="@{/cards}">Cards</a></ul>
                <ul><a th:href="@{/history}">History</a></ul>
                <ul><a th:href="@{/friends}">Friends List</a></ul>
        </div>
    </body>
</html>