<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link  rel="stylesheet"  href="../static/css/bootstrap.min.css" th:href ="@{/css/bootstrap.min.css}" type="text/css"/>
        <link  th:href="@{/css/index.css}" href="/static/css/index.css" rel="stylesheet" type="text/css"/>
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container col-md-6 col-md-offset-3">
            <div class = "dashboard">
            
            <nav th:include="fragments/sidebar :: sidebar" th:with= "account = ${account}" class="sidebar">
            Sidebar   
            </nav>
            <!--Transactions template in construction-->
            <div class="right-container">
                <h3 th:text="'Welcome to PayMe, ' + ${session.accounts.firstName}"> Welcome to PayMe!</h3>
                <h4 th:text="'Your balance now is $' + ${session.accounts.balance}">Balance</h4>
                <p> Use the buttons on the sidebar to look around or make a transaction/request!</p>
                </div>
            </div>
        <div th:replace="fragments/footer :: footer" class="footer">Footer goes here</div>
        </div>
    </body>
</html>