<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link  rel="stylesheet"  href="../static/css/bootstrap.min.css" th:href ="@{/css/bootstrap.min.css}" type="text/css"/>
        <link  th:href="@{/css/index.css}" href="/static/css/index.css" rel="stylesheet" type="text/css"/><title>CS157A PayMe</title>
    </head>
    <body>
        <div class="container col-md-4 col-md-offset-4">
        <h1>Welcome to PayMe!</h1>
        <div th:if="${param.complete}">
        Registration Complete!    
        </div>
        <p> This website is NOT a real financial website. Do not submit any personal details or passwords.</p>
        <p>Click <a th:href="@{/dashboard}">here</a> to start.</p>
        <div th:replace="fragments/footer :: footer">Footer goes here</div>
        </div>
        
    </body>
</html>