<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link  rel="stylesheet"  href="../static/css/bootstrap.min.css" th:href ="@{/css/bootstrap.min.css}" type="text/css"/>
        <link  th:href="@{/css/index.css}" href="/static/css/index.css" rel="stylesheet" type="text/css"/>
        <title>CS157A Login</title>
    </head>
    <body>
        <div class="container col-md-6 col-md-offset-3">
        <div th:if="${param.error}">
            Username exists.
        </div>
        <h1> Register Here for PayMe</h1>
        <form action = "#" th:action="@{/signup}" th:object ="${accounts}" method="post">
            <div><label> User Name : <input type="text"  th:field="*{username}"/> </label></div>
            <div><label th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</label></div>
            <div ><label> Password: <input type="password" th:field="*{password}"/> </label></div>
            <div><label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</label></div>
            <div><label> First name: <input type = "text" th:field="*{firstName}"/></label></div>
            <div><label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</label></div>
            <div><label> Last name:<input type = "text" th:field="*{lastName}"/></label></div>
            <div><label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</label></div>
            <div><label> Email:<input type = "text" th:field="*{email}"/></label></div>
            <div><label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</label></div>
            <div><input type="submit" value="Register"/></div>
        </form>
        </div>
    </body>
</html>